*
{
	position: relative;
	margin: 0;
        padding: 0;
}

body
{
	position: fixed;
	width: 100%;
	height: 90%;
	top: 0;
	left: 0;
}
#messages
{
	overflow-y: auto;
	width: 100%;
	max-height: 100%;
	display: grid;
	list-style-type: none;
}
#messages>li
{
	margin: 1.5%;
	border: 1px solid #ccc;
	width: 85%;
	padding: 10px 5px;
}
#messages>li>.mText>.mTime
{
	font-style: italic;
	color: #aaa;
	display: block;
	font-size: 70%;
	float: right;
}
#messages>li>.mSender
{
	position: absolute;
	top: 0;
	width: 12%;
	max-height: 100%;
	padding: 10px 0;
}
#messages>li:not(.me)>.mSender
{
	right: -12%;
}
#messages>li.me>.mSender
{
	left: -12%;
}

#messages>li:not(.me)
{
	padding-right: -15%;
}

#messages>li.me
{
	padding-left: -15%;
	margin-left: auto;
        margin-right: 1.5%;
	background-color: #ded;
}

#messages>li:nth-child(odd):not(.me)
{
        background: #dde;
}
#messages>li:nth-child(even):not(.me)
{
	background: #cce;
}

#messenger
{
	background-color: #aae;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 10%;
}

.vertical>span
{
	text-orientation: upright;
	writing-mode: vertical-rl;
}

#messages.authorised .notauthorised,
#messages.unauthorised .notunauthorised,
#messages.loggedout .notloggedout
{
	display:none;
}

#messages.authorised #authorised,
#messages.unauthorised #unauthorised,
#messages.loggedout #loggedout
{
	display: innitial;
}

#messenger td:not(.vertical)>*
{
	float: right;
	width: 90%;
}

#lastRow
{
	display: table-row;
}

#new
{
	width: 70%;
}

#span20px
{
	height: 28px;
	line-height: 28px;
	white-space: nowrap;
}

#myName
{
	height: 26px;
	top: -8px;
}

#myName,
#room
{
	font-size: 13px;
	border: 0;
	border-top: 1px solid #000;
	border-radius: 0;
	background-color: #777;
	color: #fff;
}
